*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 .main{
    font-family: 'Google Sans',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 }
 
 .header{
    width: 220px;
    background-color: #343a40;
    height: 100%;
    position: fixed;
 }
 
 .header__img-logo{
    height: 66px;
    display: flex;
    background-color: #343a40;
 }
 .header__img-user{
    height: 136px;
    background-color: #2d3238;
    text-align: center;
    
 }
 .header__img-user p{
    color: #eaecee !important;
    padding-top: 12px;
    font-size: 14px;
    font-weight: 600;
 }
 
 .header__img-logo img.img-logo{
    height: 40px;
    margin: auto;
    color: #fff;
 }
 
 .header__img-user img.img-user{
    height: 60px;
    border-radius: 50%;
    margin-top: 22px;
 }
 
 .icon-clok {
    font-size: 16px;
    color: #d5d8da;
    padding: 0 8px 0 16px;
 }
 
 #nav{
    margin-top: 16px;
    
 }
 
 #nav li:hover{
    background-color: #2d3238;
 }
 
 #nav li:hover a{
    color: #4095da;
 }
 #nav li{
    display: flex;
    padding: 10px 0;
    margin: 5px;
 }
 #nav li a {
    text-decoration: none;
    color: #959a9e;
    display: block;
    flex: 1;
    font-weight: 700;
    font-size: 14px;
 }
 #nav .list-page h1{
    font-size: 12px;
    color: #8a8e92;
    padding-top: 26px;
    padding-left: 16px ;
 }
 #nav .list-page{
    height: 48px;
 }
 
 /* Container */
 .container{
    padding-left: 220px;
   
    background-color: #e7e9ec;
 }
 
 
 .header__container{
    height: 66px;
    position: fixed;
    margin-bottom: 50px 0 0;
    width: calc(100% - 220px);
    background-color: #343a40;
    animation: dichchuyen ease ;
 }
 @keyframes dichchuyen{
    form{
        
        opacity: 0;
    }
    to{
        
        opacity: 1;
        
    }
 }
 
 
 .header__container-icon{
    margin: 0 70px;
    display: flex;
    line-height: 66px;
    justify-content: space-between;
    
 }
 
 .header__container img.img-user{
    height: 30px;
    border-radius: 50%;
    align-items: center;
    border: 3px solid #4d3b72;
 }
 
 .header__container-icon .list-icon{
   
   display: flex;
   margin: 18px 0;
 }
 
 .list-icon icon{
    margin: 0 4px;
 }
 .header__container-icon .icon{
    color: #fff;
    padding: 8px 8px;
    margin-right: 18px;
    
 }
 .header__container-icon .icon:hover{
    background-color: #2d3238;
    border-radius: 50%;
 
 }
 
 .top__container{
    background-image:url(http://pik.vn/2015e55b8d45-604e-45fe-828c-ceb39bf0f6eb.jpeg) !important;
    padding-top: 66px;
    height: 240px;
 }
 
 .top__container a:hover{
      background-color: #4095da;
 }

 .top__container h1{
     text-align: center;
    margin-top: 60px;
    margin-left: 40px;
    color: #fff;

 }
 .top__container p{
    margin-left: 40px;
    text-align: center;
    color: #fff;
 }
 .btn{
    float: right;
    display: inline-block;
    border: 2px solid transparent;
     background-color: #1131e2;
     color: #e7e9ec;
     text-decoration: none;
     display: inline-block;
     margin-bottom: 50px;
     margin-right: 50px;
     height: 34px;
     font-weight: 700;
     line-height: 32px;
     border-radius: 25rem; 
     padding: 0px 8px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    font-size: 14px;

 }
 .container_main{
    margin-left: 40px;
    margin-right: 40px;
   
}
 .mid__container{
    width: 86%;
    display: flex;
    margin: 10px auto;
    height: calc(200vh - 306px);
 }
.t1{
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    border:#fff; 
}